.picGrid{
    width: 15%;
    float: left;
}

#left_grid{
    margin-right: 0%;
}

#iframePart{
    width: 69%;
    height: 100%;
    float: left;
}

#my_iframe{
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 0%;
}

.bodyPart{
    overflow: auto;
    margin-top: 3%;
    height: 1000px;
}